{{#if success_msg}}
    <div class="msg msg-info z-depth-3"> {{success_msg}} </div>
{{/if}}

{{#if error_msg}}
    <div class="msg msg-error z-depth-3 scale-transition"> {{error_msg}} </div>
{{/if}}